table {
    border-spacing: 10px;
}

td {
    position: relative;
    border: 2px solid #eddebb;
    border-radius: 5px;
    width: 125px;
    height: 125px;
    background-size: 100% 100%;
}

#storm {
    border: 0px ;
}

.fl {
    float: left;
}

.unrevealed {background-image: url("img/back.png");}

.unrevealed-water {background-image: url("img/back-water.png");}

.well {background-image: url("img/well.png");}

.tunnel {background-image: url("img/tunnel.png");}

.mirage {background-image: url("img/mirage.png");}

.gear {background-image: url("img/gear.png");}

.Av {background-image: url("img/clues/a-h.png");}
.Ah {background-image: url("img/clues/a-v.png");}
.Bv {background-image: url("img/clues/b-h.png");}
.Bh {background-image: url("img/clues/b-v.png");}
.Cv {background-image: url("img/clues/c-h.png");}
.Ch {background-image: url("img/clues/c-v.png");}
.Dv {background-image: url("img/clues/d-h.png");}
.Dh {background-image: url("img/clues/d-v.png");}

.launchpad {
    background-image: url("img/launchpad.png");
}

.header {
    font-size: large;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.player {
    font-size: xx-large;
    text-align: center;
}

.sand {
    position: absolute;
    bottom: 0;
}

.red {
    color: red;
}

ul {
    list-style-type: none;
}
