table {
    border-spacing: 10px;
}

td {
    position: relative;
    border: 2px solid #eddebb;
    border-radius: 5px;
    width: 125px;
    height: 125px;
    background-size: 100% 100%;
}

.fl {
    float: left;
}

.storm {
    border: 0px ;
}

.unrevealed {background-image: url("img/back.png");}

.unrevealed-water {background-image: url("img/back-water.png");}

.unrevealed-peeked {background-image: url("img/back-peeked.png");}

.unrevealed-water-peeked {background-image: url("img/back-water-peeked.png");}

.well {background-image: url("img/well.png");}

.tunnel {background-image: url("img/tunnel.png");}

.mirage {background-image: url("img/mirage.png");}

.gear {background-image: url("img/gear.png");}

.Ah {background-image: url("img/clues/a-h.png");}
.Av {background-image: url("img/clues/a-v.png");}
.Bh {background-image: url("img/clues/b-h.png");}
.Bv {background-image: url("img/clues/b-v.png");}
.Ch {background-image: url("img/clues/c-h.png");}
.Cv {background-image: url("img/clues/c-v.png");}
.Dh {background-image: url("img/clues/d-h.png");}
.Dv {background-image: url("img/clues/d-v.png");}

.launchpad {
    background-image: url("img/launchpad.png");
}

.header {
    font-size: large;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.player {
    font-size: xxx-large;
    text-align: center;
}

.sand {
    position: absolute;
    bottom: 0;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.red {color: red;}

.green {color: #09f621;}

.blue {color: #5385f9;}

.purple {color: #C638C6;}

.infobar {
    margin-left: 10px;
    font-size: small;
    color: gray;
}

.final-part {
    position: absolute;
    top: 0;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: pink;
}

ul {
    list-style-type: none;
}

.diggable {
    border: 2px magenta solid;
}

.movable {
    border: 2px cyan solid;
}

.item-select {
    border: 2px yellow solid;
}

.shielded {
    filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-120deg) saturate(600%) contrast(0.8);
}

.small-button {
    font-size: 16px;
}