table {
    border-spacing: 10px;
}

td {
    position: relative;
    border: 2px solid #eddebb;
    border-radius: 5px;
    width: 125px;
    height: 125px;
    background-size: 100% 100%;
}

#storm {
    border: 0px ;
}

.unrevealed {
    background-image: url("img/back.png");
}

.header {
    font-size: large;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.player {
    font-size: xx-large;
    text-align: center;
}

.sand {
    position: absolute;
    bottom: 0;
}

.red {
    color: red;
}